

h1 {
    text-align: center;
    color: #000;
}

#text p {
    position: relative;
    left: 15%;
    width: 1100px;
    text-align: center;
    margin-top: 65px;
    font-size: 18px;
}

.resultado {
    position: relative;
    left: 6%;
    width: 155vh;
    display: flex;
    justify-content: center;
    text-align:center;
    color: #3D3333;
    font-size: 19px;
}

.resultado h1 {
    text-align: left;
    padding-bottom: 25px;
}

#box{
    background-color: rgb(238, 238, 238);
    width: 200px;
    height: 150px;
    border-radius: 10px;
    color: #000;
    margin: 15px;
}


table {
    margin: 50px 240px;
    width: 1125px;
}

th {
    height: 50px;
    background-color: #8e8f8e;
    color: white;
}

th, td {
    padding: 20px;
    text-align: left;
}

td {
    background-color: rgba(240, 240, 240, 0.658);
}

#ultimo{
    text-align: center;
}