#blocks {
    display: flex;
}

#box {
    text-align: center;
    margin: 150px 20px 0 0;
    width: 550px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #EEEEEE;

    position: relative;
    left: 10px;
}

#box:hover {
    cursor: pointer;
    border: 1px solid #000;
    transition: .8s;
}