* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
html {
    background-color: #242525;
}

.botoesTop {
    margin-bottom: 60px;
}

.botoesTop a{
    color: #fff;
}

.botoesTop a:hover {
    color: rgb(192, 163, 163);

}

.fundo {
    position: relative;
    left: 35%;
    background-color: #ffffffe5;
    width: 500px;
    height: 600px;
    border-radius: 50px 10px;
}

h1 {
    /* padding-top: 100px; */
    padding: 100px 0 45px 0;
    color: #000;
    text-align: center;
    font-weight: 900;
}

.opcoes {
   text-align: center;
}

.opcoes h3 {
    padding: 40px 0 15px 0;

    color: #000;
}

.links {
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -25%);
}

.opcoes a {
    color: #000000;
    background-color: #6711d8;

    padding: 5px 8px 5px 8px;
    margin-right: 25px;
    
    font-size: 23px;
    font-weight: 300;
}

.opcoes a:hover {
    background-color: #6711d875;
    color: rgb(255, 255, 255);
}
