* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242525;
    font-family: 'Inter', sans-serif;
    
    text-decoration: none;
}

h1 {
    /* padding-top: 100px; */
    padding: 100px 0 45px 0;
    color: #fff;
    text-align: center;
    font-weight: 900;
}

.opcoes {
    text-align: center;
}

.opcoes h3 {
    padding: 40px 0 15px 0;

    color: #fff;
}

.links {
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -25%);
}

.opcoes a {
    color: #000000;
    background-color: #a253fd;

    padding: 5px 8px 5px 8px;
    margin-right: 25px;
    
    font-size: 23px;
    font-weight: 300;
}

.opcoes a:hover {
    background-color: rgba(103, 17, 216, 0.459);
    color: rgb(255, 255, 255);
}

.botoesFim a{
    color: #fff;

}

.botoesFim a:hover {
    color: rgb(192, 163, 163);
    position: absolute;
    bottom: 0;
}
